---
import MainLayout from '../../layouts/MainLayout.astro';
import ProjectCard from '../../components/ProjectCard.astro'
import { ExternalLink, Github, Terminal } from 'lucide-react'
import { getProyectos } from '../../lib/api'

// Fetch a los proyectos desde la API a mi web
let proyectos = []
try {
  const data = await getProyectos()

  proyectos = data
    .map(p => ({
      titulo: p.nombre,
      slug : p.slug,
      descripcion: p.descripcion,
      habilidades: p.habilidades?.map(h => h.nombre) ?? [],
      thumbnail: p.thumbnail,
      tiny: p.tiny,
      imageAlt: p.title,
      url_proyecto: p.url_proyecto,
      github: p.github
    }))
    .sort((a, b) => a.titulo.localeCompare(b.titulo))
} catch (error) {
  console.error('Error fetching proyectos:', error)
}
---

<MainLayout 
  title="Proyectos | Portfolio"
  description="Explora los proyectos destacados en desarrollo web, en los que estoy trabajando o he participado."
>
  <section class="py-8">
    <div class="max-w-3xl mx-auto text-center mb-12">
      <h1 class="text-4xl font-bold mb-4">
        <span class="text-primary">&lt;</span> Proyectos <span class="text-primary">/&gt;</span>
      </h1>
      <p class="text-xl text-gray-300">
        Una colección de los proyectos en los que he trabajado, tanto iniciando el proyecto como en su posterior mantenimiento.
      </p>
    </div>
    
    <div class="grid md:grid-cols-2 gap-8">
      {proyectos.map(proyecto => (
        <ProjectCard 
          titulo={proyecto.titulo}
          slug={proyecto.slug}
          descripcion={proyecto.descripcion}
          habilidades={proyecto.habilidades}
          thumbnail={proyecto.thumbnail}
          tiny={proyecto.tiny}
          imageAlt={proyecto.imageAlt}
          link={proyecto.url_proyecto}
          github={proyecto.github}
        />
      ))}
    </div>
  </section>
</MainLayout>