---
const { 
  variant = "default", 
  size = "default", 
  fontSize,
  className = "", 
  href,
  ...props 
} = Astro.props;

const baseClass = "inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&_svg]:pointer-events-none [&_svg]:size-4 [&_svg]:shrink-0";

const variantClasses = {
  default: `
    bg-primary text-darkShades hover:bg-primary/90 
    dark:bg-primary dark:text-white dark:hover:bg-primary/80
  `,

  link: `
    text-primary underline-offset-4 hover:underline 
    dark:text-primary dark:hover:text-darkAccent
  `,

  accent: `
    bg-lightAccent text-white hover:bg-lightAccent/90 
    dark:bg-lightAccent dark:text-white dark:hover:bg-lightAccent/80
  `,

  darkAccent: `
    bg-darkAccent text-white hover:bg-darkAccent/90 
    dark:bg-darkAccent dark:text-white dark:hover:bg-darkAccent/80
  `,

  ghost: `
    bg-transparent text-primary hover:bg-lightAccent/10 
    dark:text-primary dark:hover:bg-lightAccent/10
  `,

  outline: `
    border border-primary text-primary hover:bg-primary/10 
    dark:border-primary dark:text-primary dark:hover:bg-primary/10
  `,

  subtle: `
    bg-lightShades text-primary hover:bg-lightShades/80 
    dark:bg-dark.background dark:text-dark.text dark:hover:bg-dark.codeBackground
  `,

  inverted: `
    bg-darkShades text-lightShades hover:bg-darkShades/90 
    dark:bg-lightShades dark:text-darkShades dark:hover:bg-lightShades/90
  `,

  danger: `
    bg-red-600 text-white hover:bg-red-700 
    dark:bg-red-700 dark:hover:bg-red-800
  `,

  success: `
    bg-green-600 text-white hover:bg-green-700 
    dark:bg-green-700 dark:hover:bg-green-800
  `,

  warning: `
    bg-yellow-500 text-white hover:bg-yellow-600 
    dark:bg-yellow-600 dark:hover:bg-yellow-700
  `,

  info: `
    bg-blue-600 text-white hover:bg-blue-700 
    dark:bg-blue-700 dark:hover:bg-blue-800
  `,
};

const sizeClasses = {
  default: "h-10 px-4 py-2",
  sm: "h-9 rounded-md px-3",
  lg: "h-11 rounded-md px-8",
  icon: "h-10 w-10",
};

const fontSizeClass = fontSize || "text-sm";


const finalClass = `${baseClass} ${variantClasses[variant] || ""} ${sizeClasses[size] || ""} ${fontSizeClass} ${className}`;
---

{/* Si `href` está presente, renderiza un enlace, si no, un botón */}
{href ? (
  <a 
    href={href} 
    class={finalClass} 
    {...props}
  >
    <slot />
  </a>
) : (
  <button class={finalClass} {...props}>
    <slot />
  </button>
)}
